APP_NAME="Arthaus Test"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=

REGISTRATIONS_ALLOWED=true
PAGINATION_ITEMS=8
TOKEN_LIFETIME_HOURS=3
REPORTS_SHOW_EMPTY=false

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"
