.activities {
  .single-activity {
    color: white;
  }

  .activity-0 {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }

  .activity-1 {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }

  .activity-2 {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }

  .activity-3 {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }
}
