// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff5370;
$orange: #f6993f;
$yellow: #ffb64d;
$green: #2ed8b6;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom
$activities-bg-deg: 45deg;

$activity-0-start: #4099ff;
$activity-0-end: #73b4ff;
$activity-1-start: #2ed8b6;
$activity-1-end: #59e0c5;
$activity-2-start: $yellow;
$activity-2-end: #ffcb80;
$activity-3-start: $red;
$activity-3-end: #ff869a;